* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body {
  background: #2d2d2d;
  color: #f0f0f0;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.navigation {
  background: #373f96;
  width: 100%;
  height: 8vh;
}
.ico-img{
    margin: 2vh 0 1vh 1vw;
    width: 2rem;
    height: 2rem;
}
.ico-img > img{
    width: 7rem;
    height: 2rem;
}
.hide{
    /* display: none; */
}
.hamber{
}
.hamber ul  li{
    text-transform: uppercase;
    color: #000000;
}
.nav-line{
    width: 80%;
    align-self: center;
    border: #9ba2ffdc solid 0.01rem;
}
.landing {
  background: url(Assets/intro-bg.jpg);
  width: 100%;
  height: 94vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: ;
}
.land-div{
  margin: auto;
}
.landing-welcome{
    color: #929292e0;
    font-size: 2.5rem;
}
.landing-phrase{
    color: #ffffffce;
    padding: 0.5rem;
}

.know-more-btn{
    color: #ffbcbc;
    padding: 0.4rem;
    background: #ffffff00;
    border: solid 0.05rem #050202;
    border-radius: 0.7rem;
}
.about {
  background: #fff url(Assets/about-.png) no-repeat center;
  padding: 1rem;
  height: 140vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

}
.about-hd{
  text-transform: uppercase;
  padding: 1rem;
  color: #000000;
  text-decoration: underline #71dff3;
}
.things-we-can-do {
  background: #42b6be;
}
.get-in-touch {
  background: #a3067c;
}
.join-us {
  background: #00bb09;
}
.bottom-bar {
  background: #b81128;
}
